<h1 mat-dialog-title>Edit Fetcher</h1>
<div mat-dialog-content>
    <form [formGroup]="fetcherDataForm">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Server Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Server Description</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Server Address</mat-label>
                <input matInput formControlName="address">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Domains</mat-label>
                <input matInput formControlName="domains">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Protocol</mat-label>
                <mat-select formControlName="protocol" (valueChange)="onProtocolValueChange($event)">
                    <mat-option *ngFor="let option of protocolOptions" [value]="option.protocol">{{ option.protocol }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Port</mat-label>
                <input matInput formControlName="port">
            </mat-form-field>
        </div>
        <div class="d-flex align-items-baseline">
            <mat-form-field appearance="fill">
                <mat-label>Mailbox Name</mat-label>
                <input matInput formControlName="mailbox">
            </mat-form-field>
            <span class="material-symbols-outlined" matTooltip="POP fetchers can only fetch from 'inbox'. IMAP fetchers can fetch from any mailbox.">help</span>
        </div>
        <div>
            <label id="radio-group-label">Deletion From Server</label>
            <div>
                <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" formControlName="quick_delete">
                    <mat-radio-button class="radio-button" *ngFor="let option of deletionOptions" [value]="option.value">
                        {{ option.title }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="d-flex align-items-baseline">
            <mat-form-field appearance="fill">
                <mat-label>Fetch Timeout</mat-label>
                <input matInput formControlName="time_limit" type="number" min="0">
            </mat-form-field>
            <span class="material-symbols-outlined" matTooltip="The fetcher timeout is a hard limit on the number of minutes the fetcher is allowed to spend fetching one email. Zero means no limit.">help</span>
        </div>
        <div>
            <mat-checkbox formControlName="active">Activate Fetcher</mat-checkbox>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="updateFetcher()" [disabled]="!fetcherDataForm.valid" cdkFocusInitial>Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
</div>
