<h1>Email fetchers</h1>

<button mat-raised-button color="primary" (click)="openAddFetcherDialog()">
    <mat-icon>add</mat-icon>
    Fetcher
</button>

<ng-container *ngIf="dataSource.length; else noItems">
    <ul class="actions-wrapper">
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1" (click)="openEditDialog(selectedFetchers[0])">
                <mat-icon>edit</mat-icon>
                Edit
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1" (click)="openScheduleProduction(selectedFetchers[0])">
                <mat-icon>schedule</mat-icon>
                Schedule
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1">
                <mat-icon>zoom_in</mat-icon>
                Status
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1">
                <mat-icon>check_circle</mat-icon>
                Test
            </button>
        </li>
        |
        <li>
            <button mat-button color="accent" [disabled]="!selectedFetchers.length" (click)="activateFetcher()">
                <mat-icon>arrow_upward</mat-icon>
                Activate
            </button>
        </li>
        <li>
            <button mat-button color="warn" [disabled]="!selectedFetchers.length" (click)="disableFetcher()">
                <mat-icon>arrow_downward</mat-icon>
                Disable
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length">
                <mat-icon>restart_alt</mat-icon>
                Restart
            </button>
        </li>
        <li>
            <button mat-button color="warn" [disabled]="!selectedFetchers.length" (click)="openDeleteFetcherDialog(selectedFetchers)">
                <mat-icon>delete</mat-icon>
                Delete
            </button>
        </li>
    </ul>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="checkAll($event)" [checked]="selectedFetchers.length === dataSource.length"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'border-left': element.active ? '5px solid #20c820' : '5px solid #f00000'}">
                <mat-checkbox [checked]="element.checked" (change)="element.checked = $event.checked; checkItem()"></mat-checkbox>
            </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
      
        <!-- Host Column -->
        <ng-container matColumnDef="host">
          <th mat-header-cell *matHeaderCellDef>Host</th>
          <td mat-cell *matCellDef="let element">{{ element.server }}</td>
        </ng-container>
      
        <!-- Protocol Column -->
        <ng-container matColumnDef="protocol">
          <th mat-header-cell *matHeaderCellDef>Protocol</th>
          <td mat-cell *matCellDef="let element">{{ element.protocol }}</td>
        </ng-container>

        <!-- Download Failures Column -->
        <ng-container matColumnDef="download_failures">
            <th mat-header-cell *matHeaderCellDef>Download Failures</th>
            <td mat-cell *matCellDef="let element">{{ element.download_failures }}</td>
        </ng-container>
    
        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center justify-content-between">
                    {{ element.active ? 'active' : 'disabled' }}

                    <button mat-icon-button class="item-actions-button">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <div class="item-actions">
                        <button mat-button (click)="openEditDialog(element)">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                        <button mat-button (click)="openScheduleProduction(element)">
                            <mat-icon>schedule</mat-icon>
                            Schedule
                        </button>
                        <button mat-button>
                            <mat-icon>zoom_in</mat-icon>
                            Status
                        </button>
                        <button mat-button>
                            <mat-icon>check_circle</mat-icon>
                            Test
                        </button>
                        <button mat-button color="accent" *ngIf="!element.active">
                            <mat-icon>arrow_upward</mat-icon>
                            Activate
                        </button>
                        <button mat-button color="warn" *ngIf="element.active">
                            <mat-icon>arrow_downward</mat-icon>
                            Disable
                        </button>
                        <button mat-button color="warn" (click)="openDeleteFetcherDialog([element])">
                            <mat-icon>delete</mat-icon>
                            Delete
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-container>

<ng-template #noItems>
    <app-no-fetchers (addFetcher)="openAddFetcherDialog()"></app-no-fetchers>
</ng-template>
