<h1>Email fetchers</h1>

<button mat-raised-button color="primary" (click)="openAddFetcherDialog()">
    <span class="material-symbols-outlined">add</span>
    Fetcher
</button>

<ng-container *ngIf="fetchers.length; else noItems">
    <ul class="actions-wrapper">
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1" (click)="openEditDialog(selectedFetchers[0])">
                <span class="material-symbols-outlined">edit</span>
                Edit
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1" (click)="openScheduleProduction(selectedFetchers[0])">
                <span class="material-symbols-outlined">schedule</span>
                Schedule
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1">
                <span class="material-symbols-outlined">zoom_in</span>
                Status
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1">
                <span class="material-symbols-outlined">check_circle</span>
                Test
            </button>
        </li>
        |
        <li>
            <button mat-button color="accent" [disabled]="!selectedFetchers.length" (click)="activateFetcher(selectedFetchers)">
                <span class="material-symbols-outlined">arrow_upward</span>
                Activate
            </button>
        </li>
        <li>
            <button mat-button color="warn" [disabled]="!selectedFetchers.length" (click)="disableFetcher(selectedFetchers)">
                <span class="material-symbols-outlined">arrow_downward</span>
                Disable
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length">
                <span class="material-symbols-outlined">restart_alt</span>
                Restart
            </button>
        </li>
        <li>
            <button mat-button color="warn" [disabled]="!selectedFetchers.length" (click)="openDeleteFetcherDialog(selectedFetchers)">
                <span class="material-symbols-outlined">delete</span>
                Delete
            </button>
        </li>
    </ul>

    <table mat-table [dataSource]="fetchers" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef style="width: 77px">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="checkAll($event)" [checked]="selectedFetchers.length === fetchers.length"></mat-checkbox>
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                [ngStyle]="{
                    'border-left': element.active ? '5px solid #20c820' : '5px solid #f00000'
                }"
            >
                <mat-checkbox [checked]="element.checked" (click)="$event.stopPropagation()" (change)="element.checked = $event.checked; checkItem()"></mat-checkbox>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th class="cursor-pointer" mat-header-cell *matHeaderCellDef (click)="sortingChanged(fetchersSortingState === 'name asc' ? 'name desc' : 'name asc')">
                Name

                <app-sorting-button  [activeSorting]="fetchersSortingState === 'name asc' ? 'up' : false || fetchersSortingState === 'name desc' ? 'down' : ''"></app-sorting-button>
            </th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Host Column -->
        <ng-container matColumnDef="host">
            <th class="cursor-pointer" mat-header-cell *matHeaderCellDef (click)="sortingChanged(fetchersSortingState === 'server asc' ? 'server desc' : 'server asc')">
                Host

                <app-sorting-button  [activeSorting]="fetchersSortingState === 'server asc' ? 'up' : false || fetchersSortingState === 'server desc' ? 'down' : ''"></app-sorting-button>
            </th>
            <td mat-cell *matCellDef="let element">{{ element.server }}</td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th class="cursor-pointer" mat-header-cell *matHeaderCellDef (click)="sortingChanged(fetchersSortingState === 'active asc' ? 'active desc' : 'active asc')">
                Status

                <app-sorting-button  [activeSorting]="fetchersSortingState === 'active asc' ? 'up' : false || fetchersSortingState === 'active desc' ? 'down' : ''"></app-sorting-button>
            </th>
            <td mat-cell *matCellDef="let element">{{ element.active ? "active" : "disabled" }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center justify-content-end row-actions">
                    <button 
                        mat-icon-button 
                        color="accent" 
                        *ngIf="!element.active" 
                        (click)="$event.stopPropagation(); activateFetcher([element])"
                        matTooltip="activate"
                    >
                        <span class="material-symbols-outlined">arrow_upward</span>
                    </button>
                    <button 
                        mat-icon-button 
                        color="warn" 
                        *ngIf="element.active" 
                        (click)="$event.stopPropagation(); disableFetcher([element])"
                        matTooltip="disable"
                    >
                        <span class="material-symbols-outlined">arrow_downward</span>
                    </button>
                    <button mat-icon-button color="warn" (click)="$event.stopPropagation(); openDeleteFetcherDialog([element])" matTooltip="delete">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                    <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                        <span class="material-symbols-outlined">more_horiz</span>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openEditDialog(element)">
                            <span class="material-symbols-outlined">edit</span>
                            Edit
                        </button>
                        <button mat-menu-item (click)="openScheduleProduction(element)">
                            <span class="material-symbols-outlined">schedule</span>
                            Schedule
                        </button>
                        <button mat-menu-item>
                            <span class="material-symbols-outlined">zoom_in</span>
                            Status
                        </button>
                        <button mat-menu-item>
                            <span class="material-symbols-outlined">check_circle</span>
                            Test
                        </button>
                        <button mat-menu-item>
                            <span class="material-symbols-outlined">restart_alt</span>
                            Restart
                        </button>
                    </mat-menu>
                </div>
            </td>
        </ng-container>

        <!-- Protocol Column -->
        <ng-container matColumnDef="protocol">
            <th class="cursor-pointer" mat-header-cell *matHeaderCellDef (click)="sortingChanged(fetchersSortingState === 'protocol asc' ? 'protocol desc' : 'protocol asc')">
                Protocol

                <app-sorting-button  [activeSorting]="fetchersSortingState === 'protocol asc' ? 'up' : false || fetchersSortingState === 'protocol desc' ? 'down' : ''"></app-sorting-button>
            </th>
            <td mat-cell *matCellDef="let element">{{ element.protocol }}</td>
        </ng-container>

        <!-- Download Failures Column -->
        <ng-container matColumnDef="download_failures">
            <th mat-header-cell *matHeaderCellDef>Download Failures</th>
            <td mat-cell *matCellDef="let element">{{ element.download_failures }}</td>
        </ng-container>

        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr 
            mat-row 
            *matRowDef="let row; columns: displayedColumns" 
            [id]="row.id"
            [ngClass]="{ 'inactive': !row.active }"
            (click)="openEditDialog(row)"
        ></tr>
    </table>
</ng-container>

<ng-template #noItems>
    <app-no-fetchers (addFetcher)="openAddFetcherDialog()"></app-no-fetchers>
</ng-template>
