:host {
    display: block;
    min-height: 100vh;
    padding: 30px;
}

.mat-primary {
    margin-bottom: 40px;
}

.actions-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;

    li {
        margin: 10px;
    }
}

.mat-mdc-row {
    position: relative;
}

.mat-column-state {
    overflow: visible;

    .item-actions-button {
        &:hover {
            & + .item-actions {
                display: flex;
            }
        }
    }

    .item-actions {
        align-items: center;
        background-color: #f6fcff;
        display: none;
        height: 100%;
        justify-content: space-evenly;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        width: 100%;

        &:hover {
            display: flex;
        }
    }
}
