<h1>Email fetchers</h1>

<button mat-raised-button color="primary" (click)="openAddFetcherDialog()">
    <span class="material-symbols-outlined">add</span>
    Fetcher
</button>

<ng-container *ngIf="dataSource.length; else noItems">
    <ul class="actions-wrapper">
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1" (click)="openEditDialog(selectedFetchers[0])">
                <span class="material-symbols-outlined">edit</span>
                Edit
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1" (click)="openScheduleProduction(selectedFetchers[0])">
                <span class="material-symbols-outlined">schedule</span>
                Schedule
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1">
                <span class="material-symbols-outlined">zoom_in</span>
                Status
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length || selectedFetchers.length > 1">
                <span class="material-symbols-outlined">check_circle</span>
                Test
            </button>
        </li>
        |
        <li>
            <button mat-button color="accent" [disabled]="!selectedFetchers.length" (click)="activateFetcher(selectedFetchers)">
                <span class="material-symbols-outlined">arrow_upward</span>
                Activate
            </button>
        </li>
        <li>
            <button mat-button color="warn" [disabled]="!selectedFetchers.length" (click)="disableFetcher(selectedFetchers)">
                <span class="material-symbols-outlined">arrow_downward</span>
                Disable
            </button>
        </li>
        <li>
            <button mat-button [disabled]="!selectedFetchers.length">
                <span class="material-symbols-outlined">restart_alt</span>
                Restart
            </button>
        </li>
        <li>
            <button mat-button color="warn" [disabled]="!selectedFetchers.length" (click)="openDeleteFetcherDialog(selectedFetchers)">
                <span class="material-symbols-outlined">delete</span>
                Delete
            </button>
        </li>
    </ul>
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
            <th mat-header-cell *matHeaderCellDef style="width: 77px">
                <mat-checkbox (change)="checkAll($event)" [checked]="selectedFetchers.length === dataSource.length"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'border-left': element.active ? '5px solid #20c820' : '5px solid #f00000'}">
                <mat-checkbox [checked]="element.checked" (change)="element.checked = $event.checked; checkItem()"></mat-checkbox>
            </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element" (click)="openEditDialog(element)">{{ element.name }}</td>
        </ng-container>
      
        <!-- Host Column -->
        <ng-container matColumnDef="host">
          <th mat-header-cell *matHeaderCellDef>Host</th>
          <td mat-cell *matCellDef="let element" (click)="openEditDialog(element)">{{ element.server }}</td>
        </ng-container>
      
        <!-- Protocol Column -->
        <ng-container matColumnDef="protocol">
          <th mat-header-cell *matHeaderCellDef>Protocol</th>
          <td mat-cell *matCellDef="let element" (click)="openEditDialog(element)">{{ element.protocol }}</td>
        </ng-container>

        <!-- Download Failures Column -->
        <ng-container matColumnDef="download_failures">
            <th mat-header-cell *matHeaderCellDef>Download Failures</th>
            <td mat-cell *matCellDef="let element" (click)="openEditDialog(element)">{{ element.download_failures }}</td>
        </ng-container>
    
        <!-- State Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let element" (click)="openEditDialog(element)">{{ element.active ? 'active' : 'disabled' }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center justify-content-end">
                    <button mat-icon-button class="item-actions-button">
                        <span class="material-symbols-outlined">more_horiz</span>
                    </button>
                    <div class="item-actions">
                        <button mat-button (click)="openEditDialog(element)">
                            <span class="material-symbols-outlined">edit</span>
                            Edit
                        </button>
                        <button mat-button (click)="openScheduleProduction(element)">
                            <span class="material-symbols-outlined">schedule</span>
                            Schedule
                        </button>
                        <button mat-button>
                            <span class="material-symbols-outlined">zoom_in</span>
                            Status
                        </button>
                        <button mat-button>
                            <span class="material-symbols-outlined">check_circle</span>
                            Test
                        </button>
                        <button mat-button color="accent" *ngIf="!element.active" (click)="activateFetcher([element])">
                            <span class="material-symbols-outlined">arrow_upward</span>
                            Activate
                        </button>
                        <button mat-button color="warn" *ngIf="element.active" (click)="disableFetcher([element])">
                            <span class="material-symbols-outlined">arrow_downward</span>
                            Disable
                        </button>
                        <button mat-button color="warn" (click)="openDeleteFetcherDialog([element])">
                            <span class="material-symbols-outlined">delete</span>
                            Delete
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-container>

<ng-template #noItems>
    <app-no-fetchers (addFetcher)="openAddFetcherDialog()"></app-no-fetchers>
</ng-template>
