:host {
    display: block;
    margin: 0 8px;
    min-height: 100vh;
    padding: 30px;
}

.mat-primary {
    margin-bottom: 40px;
}

.actions-wrapper {
    align-items: center;
    color: #ddd;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;

    li {
        margin: 10px;
    }
}

.mat-mdc-row {
    transition: .3s all;

    .material-symbols-outlined {
        font-size: 18px;
    }
}

::ng-deep .mat-mdc-menu-content {
    .material-symbols-outlined {
        font-size: 18px;
        margin-right: 8px;
    }
}

.inactive {
    font-style: italic;

    td {
        color: #aaa;
    }
}

.updated {
    background-color: #eaf8fd !important;
}

.mat-mdc-row:not(:hover) .row-actions {
    visibility: hidden;
}
