.mat-mdc-form-field {
    width: 100%;
}

.radio-button {
    display: block;
}

.radio-group {
    display: block;
    margin-bottom: 20px;
}

form {
    > div {
        .material-symbols-outlined {
            cursor: default;
            margin-left: 10px;
        }
    }
}
