.mat-mdc-form-field {
    width: 100%;
}

.radio-button {
    display: block;
}

.radio-group {
    display: block;
    margin-bottom: 20px;
}

.timepicker-label {
    display: inline-block;
    margin-bottom: 8px;
}

.shutdown-time {
    margin-bottom: 18px;
}
