// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.material-symbols-outlined {
    vertical-align: middle;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.mdc-dialog {
    .mdc-dialog__actions {
        padding: 20px 24px 20px 24px;
    }
}

.timepicker-backdrop-overlay, .timepicker-overlay {
    z-index: 9999 !important;
}

.timepicker-field {
    background-color: whitesmoke;
    border-top-left-radius: var(--mdc-shape-small, 4px);
    border-top-right-radius: var(--mdc-shape-small, 4px);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-color: rgba(0, 0, 0, 0.42);
    border-width: 0 0 1px 0;
    display: block;
    font-family: "Roboto";
    font-size: 16px;
    outline: none;
    padding: 18px 16px;
    width: 100%;

    &:hover {
        background-color: rgba(0,0,0,.075);
        border-bottom-color: rgba(0, 0, 0, 0.82);
    }
}

app-add-fetcher-dialog, app-edit-fetcher-dialog {
    .mdc-text-field--filled.mdc-text-field--disabled {
        background-color: whitesmoke;
    }

    .mdc-text-field--filled.mdc-text-field--disabled .mdc-line-ripple::before {
        border-bottom-color: rgba(0, 0, 0, 0.42);
    }

    .mdc-text-field.mdc-text-field--disabled .mdc-floating-label {
        color: rgba(0, 0, 0, 0.6);
    }

    .mdc-text-field.mdc-text-field--disabled .mdc-text-field__input {
        color: rgba(0, 0, 0, 0.87);
    }
}

.mat-mdc-button > .mat-icon {
    margin-right: 12px !important;
}

.mat-mdc-row {
    &:hover {
        background-color: #f0f0f0 !important;
    }
}
